

<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.torahtracker" version="1.9.1." xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Torah Tracker</name>
<icon src="www/torah.png" platform="ios" width="auto" height="auto" density="mdpi" />
<preference name="AndroidWindowSplashScreenAnimatedIcon" value="www/torah.png" />
<preference name="AndroidWindowSplashScreenBackground" value="#fff" />
    <name>Torah Tracker</name>
    <description>Torah Tracker</description>
    <author>Shiya Sherman</author>

    <preference name = 'orientation' value = 'portrait'/>

</widget>
 