/* works for tehillem page*/
body, html {
    background-color: #c9d3e5;
    margin: 0;
    padding: 0;
    height: 90vh;
    font-family: Arial, sans-serif;
  }
  .header {
              position: sticky;
              top: 0;
              
              background-color:#3f567e ;
              color: #fff;
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 20px;
              font-size: 2em;
              gap: 20px;
              flex-wrap: wrap;
                    }
  
          @media only screen and (max-width: 800px) {
              .header {
                  font-size: 1.5em;
              }
          }
  
          @media only screen and (max-width: 500px) {
              .header {
                  font-size: 1em;
              }
          }
  #mesandperek, #bold{
      text-align: center;
      font-weight: 700;
      font-size: 24px;
  }
  #bold{
      font-weight: 700;
      font-size: large;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; /* Keeps the container in a fixed position */
    top: initial; /* Keeps the container in its natural vertical position */
    left: 50%; /* Center horizontally in the viewport */
    transform: translateX(-50%); /* Adjust only horizontally */
    text-align: center;
    font-size: 20px;
    //margin-top: 20px; /* Adds 20px margin to the top */
  }
  
  
  .sidebar {
    width: 300px;
    position: relative; /* To position the sideNavContainer absolutely relative to this element */
    background: #f1f1f1;
    padding: 10px;
    transition: transform 0.3s ease;
    border-right: 1px solid #ddd;
    max-height: 60vh;
  }
  
  
  .menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 60vh;
    overflow-y: auto;
  }
  
  .menu-item {
    margin-bottom: 10px;
    cursor: pointer;
  }

  .section-title {
    font-weight: 700;
    margin: 10px 0 5px;
    text-align: center;
  }
  
  .menu-item a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 5px;
  } 
  
  
  .side-nav-container {
    position: absolute; /* Changed from fixed to absolute */
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 13;
    max-height: 100%; /* Changed from 60vh to 100% to cover the entire sidebar */
    overflow-y: auto;
    width: 100%; /* Make it the same width as the sidebar */
    padding: 10px;
    border-left: 1px solid #ddd;
    background: #f1f1f1;
  }
 
  
  .side-nav {
    position: relative;
    top: 0;
    width: 300px;
    background: #f1f1f1;
  
    border-left: 1px solid #ddd;
   transform: translateX(0px);
    transition: transform 0.5s ease-out;
    overflow-y: auto; 
    max-height: 60vh;  /* Add this line to limit the height of the side navigation */
  }
  
  .side-nav-container::-webkit-scrollbar {
    width: 10px;
  }
  
  .side-nav-container::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  .side-nav-container::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  .side-nav-container::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
 
@media (max-width: 800px) {
    .sidebar, .menu {
      max-height: 50vh;
  overflow-y:auto;
    }
  }
  
  @media (max-width: 600px) {
    .sidebar, .menu {
      max-height: 48vh;
    }
  }
  
  @media (max-width: 400px) {
    .sidebar, .menu {
      max-height: 46vh;
  
    }
  }
  @media (max-width: 350px) {
    .sidebar, .menu {
      max-height: 42vh;
  
    }
  }
  @media (max-height: 500px) {
    .sidebar, .menu {
      max-height: 42vh;
  
    }
  }
  