
/* Bottom Nav CSS */
.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--primary);
  color: var(--primary-text);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 0;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
  z-index: 12;
}

.bottom-nav a {
  color: var(--primary-text);
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px 10px 0 0;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.bottom-nav a.active,
.bottom-nav a:hover,
.bottom-nav a:focus {
  background-color: var(--primary-dark);
  color: var(--primary-text);
}

@media (max-width: 860px) {
  .bottom-nav a {
    font-size: 16px;
    padding: 5px 10px;
  }
}

@media (max-width: 680px) {
  .bottom-nav a {
    font-size: 14px;
    padding: 5px 10px;
  }
}

@media (max-width: 350px) {
  .bottom-nav a {
    font-size: 12px;
    padding: 5px 10px;
  }
}

@media (max-width: 300px) {
  .bottom-nav a {
    font-size: 9px;
    padding: 5px 10px;
  }
}

.space {
  padding-bottom: 150px;
}