
       /* Bottom Nav CSS */
.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--surface-soft);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .bottom-nav a {
    color: var(--text-strong);
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    padding: 10px 20px;
    border-radius: 10px 10px 0 0;
  }
  
  .bottom-nav a.active {
    background-color: var(--surface-soft);
  }
  
  .bottom-nav a:hover {
    background-color: var(--surface-soft);
  }
  

  @media(max-width:860px){

  /* Bottom Nav CSS */
    .bottom-nav a {
      font-size: 16px;
      padding: 5px 10px;
//padding-bottom: 100px; /* Add this line on the class or id above the bottom nav */
    }
  }
  
@media(max-width:680px){
  .bottom-nav a {
      font-size: 14px;
      padding: 5px 10px;
    }
  }
@media(max-width:350px){
  .bottom-nav a {
      font-size: 12px;
      padding: 5px 10px;
    }
  }

@media(max-width:300px){
  .bottom-nav a {
      font-size: 9px;
      padding: 5px 10px;
    }
  }
  .space{padding-bottom: 150px ; }
